<div class="metadata-div-content" ng-if="selectedItem">
    <div>Properties</div>
    <hr>
    <div class="metadata-properties">
        <div class="property-div">
            <p class="property-label">{{ selectedItem.type === 'dir' ? "Folder Name" : "Key" }}</p>
            <p class="property-value">{{selectedItem.fullkey}}</p>
        </div>
        <div ng-if="selectedItem.type !== 'dir'" class="property-div">
            <p class="property-label">Size</p>
            <p class="property-value">{{selectedItem.size | humanReadableFileSize}} ({{selectedItem.size}} bytes)</p>
        </div>
        <div ng-if="selectedItem.date" class="property-div">
            <p class="property-label">Last Modified Time</p>
            <p class="property-value">{{selectedItem.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </div>
        <div ng-if="selectedItem.etag" class="property-div">
            <p class="property-label">ETag</p>
            <p class="property-value">{{selectedItem.etag}}</p>
        </div>
        <div ng-if="selectedItem.owner" class="property-div">
            <p class="property-label">Owner</p>
            <p class="property-value">{{selectedItem.owner.DisplayName}} ({{selectedItem.owner.ID}})</p>
        </div>
        <div ng-if="selectedItem.storageclass" class="property-div">
            <p class="property-label">Storage Class</p>
            <p class="property-value">{{selectedItem.storageclass}}</p>
        </div>
        <div ng-if="selectedItem.type === 'file' && selectedItem.serverSideEncryption !== undefined" class="property-div">
            <p class="property-label">Server Side Encryption</p>
            <p class="property-value">{{selectedItem.serverSideEncryption || 'Loading...'}}</p>
        </div>
    </div>
</div>